.App{
 display: flex;
  align-items: center;
  justify-content: center;
  width: 98vw;
  height: 95vh;
}

.auth-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border: 2px solid black;
  width: 500px;
  background-color: antiquewhite;
  padding: 20px 0;
  border-radius: 5px;
}
.auth-wrapper input{
 width: 300px;
 height: 30px;
 border-radius: 2px;
 font-weight: 600;
 font-size: 14px;
}
/* .auth-wrapper input::placeholder{
  font-size: 16px;
  letter-spacing: 2px;
} */
.auth-wrapper .btn{
   width: 200px;
 height: 40px;
 border-radius: 2px;
 outline: none;
 border: none;
 padding: 4px 9px;
 color: white;
 background-color: aqua;
 font-weight: bold;
 font-size: 16px;
 cursor: pointer;
 
}
.span-wrapper{
  font-size: 14px;
  display: flex;
  gap: 5px;
}
.span-wrapper .span-btn{
  text-decoration: underline;
  color: aqua;
  cursor: pointer;
}